@{
    Layout = "_AdminLayout"; // Bu satır sayesinde layout kullanılmayacak.
}
<br />
<div class="d-flex justify-content-center">
<h2>Ürün Ekle</h2>
</div>
<form>
    <b>Ürün Resmi:</b><input type="file" class="form-control" />
    <br />
    <b>Ürün Adı:</b><input type="text" class="form-control" />
    <br />
	<button type="submit" class="btn btn-success form-control">Ekle</button>

</form>
