@section nav {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">ÜRÜNLER</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddProduct">ÜRÜN EKLE</a>
    </li>
    <a href="@Url.Action("Logout", "Admin")">Çıkış yap</a>

}

<div class="row">

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <a asp-action="AddProduct" asp-controller="Admin" class="text-black">
                    <center>
                        <h5 class="card-title">ÜRÜN EKLE</h5>
                        <p class="card-text">
                            Ürün ekleme için tıklayınız
                            <br />
                            <br />
                        </p>
                        <a asp-action="AddProduct" asp-controller="Admin" class="btn btn-primary">Ürün ekle</a>
                    </center>
                </a>
            </div>
        </div>
    </div>
    <center><p><h1>Ürünler</h1></p></center>
    <div class="row">
<div class="col-sm-3">
        <div class="card" @*style="width: 18rem;"*@>
            <div class="card-body">
                <img class="card-img-top" src="~/images/shoppinglist.jpg" alt="Card image cap">
                <center>
                    <h5 class="card-title">Ürün Adı</h5>
                    <p class="card-text">Kategori=</p>
                    <a asp-action="UpdateProduct" asp-controller="Admin" class="btn btn-warning">Ürünü Güncelle</a>
                    <a asp-action="DeleteProduct" asp-controller="Admin" class="btn btn-danger">Ürünü Sil</a>
                </center>
            </div>
        </div>
</div>
</div>
</div>
    