
<button type="button" class="btn btn-secondary">
	Yeni Liste Oluştur
</button>
<p><h2>LİSTELERİM</h2></p>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Liste Adı</h5>
        <a asp-action="list" asp-controller="Home" class="btn btn-primary">Listeye gitmek için tıklayın</a>
    </div>
    </div>