@section nav {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">LİSTELERİM</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddList">YENİ LİSTE OLUŞTUR</a>
    </li>
}
<div class="container">
<div class="row">
    <div class="col">
        <a asp-controller="Home" asp-action="AddList">
            <button type="button" class="btn btn-success" id="newList" />Yeni Liste Oluştur </button>
        </a>
    </div>
</div>
</div>
<center><h2>LİSTELERİM</h2></center>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Liste Adı</h5>
        <a asp-action="list" asp-controller="Home" class="btn btn-primary">Listeye gitmek için tıklayın</a>
    </div>
</div>
